In [3]:
# Import libraries
import matplotlib.pyplot as plt
import pandas as pd


# Column of dates to parse
date_col = ["Date"]

# Read the Excel file for the 2020 tournament and skip 2 rows so the dataframe starts with the column headers
buddy_bass_2016 = pd.read_excel("data/Buddy Bass Tournament 2016.xlsx", skiprows = 2)

In [6]:
buddy_bass_2016.head()

,Date,Total No of Fish Caught,Total Weight in Pounds,Average Weight (LBS),Big Fish (LBS),Big Fish/Year (LBS)
0,2016-04-20,16.0,24.38,1.52375,4.8,Paparone/Howard/4.8
1,2016-04-27,9.0,11.18,1.242222,1.92,""""
2,2016-05-04,29.0,49.3,1.7,3.42,""""
3,2016-05-11,14.0,21.08,1.505714,3.24,""""
4,2016-05-18,20.0,26.48,1.324,2.74,""""

In [7]:
# Drop the "Big Fish/Year (LBS)" columns and set the dataframe to buddy_bass_2020 variable
buddy_bass_2016 = buddy_bass_2016.drop(columns=['Big Fish/Year (LBS)'])

# View the first five rows of data to confirm that the column is gone
buddy_bass_2016.head()

,Date,Total No of Fish Caught,Total Weight in Pounds,Average Weight (LBS),Big Fish (LBS)
0,2016-04-20,16.0,24.38,1.52375,4.8
1,2016-04-27,9.0,11.18,1.242222,1.92
2,2016-05-04,29.0,49.3,1.7,3.42
3,2016-05-11,14.0,21.08,1.505714,3.24
4,2016-05-18,20.0,26.48,1.324,2.74

In [8]:
# Display information about the columns including data type and number of any missing values
buddy_bass_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     20 non-null     datetime64[ns]
 1   Total No of Fish Caught  20 non-null     object
 2   Total Weight in Pounds   20 non-null     object
 3   Average Weight (LBS)     20 non-null     object
 4   Big Fish         (LBS)   20 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 928.0+ bytes